@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Nunito";
  src: url("../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

body {
  background-color: #f1f3f6;
  color: #545454;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

@layer components {
  .clip {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  }

  .text-shadow {
    text-shadow: -8px -8px 12px rgba(255,255,255,0.4),
    8px 8px 12px rgba(0,0,0,0.08);

    &::before, &::after {
      position: absolute;
      background: #f1f3f6;
      content: '';
      border-radius: 10%;
    }
  }
}